<div class="flex flex-column flex-auto align-items-center sm:justify-content-center min-w-0 md:p-4 pt-3">
  <div class="sm:w-auto sm:px-8 sm:py-5 sm:border-round sm:shadow-7">
    <div class="w-100 mw-100 small:w-80 small:mx-0">
      <div class="text-center">
        <img src="assets/images/logo.png" alt="Image" height="100" class="mb-3" />
        <div class="font-semibold text-4xl text-700">{{'recover-password.forgot-password' | transloco}}</div>
        <div class="text-500  font-medium mb-5">{{'recover-password.fill-form' | transloco}}</div>
      </div>

      <div class="mb-3">
        <label for="txtEmail" class="form-label">{{'sign-in.email' | transloco}}</label>
        <input type="email" pInputText class="p-inputtext-sm form-control"  id="txtEmail">
      </div>

    <button pButton class="w-full" label="{{'recover-password.send-reset-link' | transloco}}"></button>
    <div class="mt-5" >

      <span class="text-600 font-medium line-height-3"
        >{{'recover-password.return-to' | transloco}}</span
      >
      <a class="font-medium no-underline ml-2 text-primary cursor-pointer"
      [routerLink]="['/login']"
        >{{'recover-password.sign-in' | transloco}}</a
      >
    </div>
  </div>
</div>
